{% extends "base_generic.html" %}

{% block title %}{{ current_category.name }} {% endblock %}

{% block content %}


<div class="container-wrapper">
            <div class="page-bg" style="background-color: #c7b39b; "></div>
            <div id="container">
                <!-- start container -->
                <div class="page-title-wrapper">
                    <div class="page-title-outher">
                        <div class="page-title-inner">

                            <h1 class="page-title">Активность пользователя</h1>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="page-wrapper">




                    <h2>Выберите дату просмотра</h2>
{% for date in dates %}
<div>
    <a href="{% url 'about_user_processes_by_date' user.id date.date %}"><h4><i>{{ date.date }}</i></h4></a>

</div>
{% endfor %}
                    <div class="clear"></div>
              </div>
                <!-- end page wrapper -->
            </div>
            <!-- end container -->
            <div class="clear"></div>
        </div>
        <!-- end container-wrapper -->

{% endblock %}



