{% extends "base_generic.html" %}

{% block title %}{% endblock %}

{% block content %}







<div class="container-wrapper">
            <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
            <div id="container">
                <!-- start container -->
                <div class="page-title-wrapper">
                    <div class="page-title-outher">
                        <div class="page-title-inner">

                            <h1 class="page-title">Задача: {{ name}}</h1>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="page-wrapper">
                    <h1>{{ name}}</h1>
                    <p>{{ content}}</p>
                    <p>{{ date }}</p>
                    <p>Над задачей работают: </p>
                    <ul>
                    {% for user in users %}
                    <li>{{user}}</li>
                      {% endfor %}
                    </ul>
                    <div class="clear"></div>
                    <form method="post" action="{% url 'add_task_user' name user.id %}" >{% csrf_token %} {{ form.as_p }}
    {% if answer %}
    <p>{{answer}}</p>
        {% else %}
        <button >Взять задачу на выполнение</button>
        {% endif %}
</form>
                </div>
                <!-- end page wrapper -->
            </div>
            <!-- end container -->
            <div class="clear"></div>
        </div>
        <!-- end container-wrapper -->












<div>
    <p>FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</p>
    <h2>{{ name}}</h2>
    <p>{{ content}}</p>
    <p>{{users}}</p>

    <p>{{user.id}}</p>
    <p>{{user.selected_task}}</p>


</div>

{% endblock %}