<!DOCTYPE html>
{% load static %}
<html lang="en-US">


<head>
    <meta charset="UTF-8">

    <!-- for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-ico" />
    <title>{% block title %}Главная {% endblock %} - доска задач</title>

    <link rel='stylesheet' href="{% static 'rs-slider/css/settings.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/animsition.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/font-awesome.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/simple-line-icons.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/pe-icon-7-stroke.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/flaticon.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/owl.carousel.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/jquery.easy-pie-chart.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/owl.transitions.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/media.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom_script.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather%3A%2C400%7CPatua+One%3A400&amp;ver=1.0.0' type='text/css' media='all' />
    <link href="http://fonts.googleapis.com/css?family=Patua+One:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">


</head>

<body class="home page-template page-template-template-home page-template-template-home-php page page-id-7">

    <div class="animsition global-wrapper">
        <div id="header" class="header-wrapper">
            <div class="logo">
                <a href="{% url 'index' %}" title="ALBERTOS - Pizza HTML Theme"><img class="logoImage" src="{% static 'images/logo.jpg' %}" alt="ALBERTOS - Pizza HTML Theme" /><img class="logoImageRetina" src="{% static 'images/logo-retina.png' %}" alt="ALBERTOS - Pizza HTML Theme" /></a>

                <div class="clear"></div>
            </div>
            <div class="menu-wrapper" style="width: 115%;">
                <div class="main-menu">
                    <div class="menu-main-nav-menu-container">
                        <ul id="menu-main-nav-menu" class="sf-menu">
                            <li class="menu-item menu-item-home current-menu-item current_page_item"><a href="{% url 'index' %}">На главную</a></li>
                            {% if user.is_authenticated %}
                            <li class="menu-item"><a href="{% url 'add' %}">Создать задачу</a></li>
                            <li class="menu-item"><a href="{% url 'add_category' %}">Создать категорию</a></li>

                            {% for category in categors %}
                                <li><strong> <a href="{% url 'by_category' category.pk %}" style="color: #FF0000">{{ category.name}}</a></strong> </li>
                            {% endfor %}


                            <li class="menu-item"><a href="{% url 'logout' %}">Выход</a></li>
                            <li class="menu-item"><a href="{% url 'task_by_user' user.id %}">Мои задачи</a></li>
                            <li class="menu-item"><a href="{% url 'completed_tasks'  %}">Решенные задачи</a></li>
                            {% if user.is_staff %}
                            <li class="menu-item"><a href="{% url 'users' %}">Сотрудники</a></li>
                            {% endif %}
                            {% else %}
                            <li class="menu-item"><a href="{% url 'login' %}">Вход</a></li>
                            <li class="menu-item"><a href="{% url 'signup' %}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="menu-icons-inside">
                    <div class="menu-icon menu-icon-mobile"><span class="menu-icon-create"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer">

                <div class="footer-content">
                    @ 2021  <a title="Pego HTML Themes">Дипломная работа Голикова Николая ИУ6-81Б</a>.</div>
            </div>
        </div>
<section>
       {% block content %}
       {% endblock %}
   </section>
        <div class="mobile-menu-wrapper">
            <div class="menu-main-nav-menu-container">
                <ul id="menu-main-nav-menu-1" class="mobile-menu">
                    <li class="menu-item menu-item-home current-menu-item current_page_item"><a href="{% url 'index' %}">На главную</a></li>
                    {% if user.is_authenticated %}
                            <li class="menu-item"><a href="{% url 'add' %}">Создать задачу</a></li>
                            <li class="menu-item"><a href="{% url 'add_category' %}">Создать категорию</a></li>

                            {% for category in categors %}
                                <li><strong> <a href="{% url 'by_category' category.pk %}" style="color: #FF0000">{{ category.name}}</a></strong> </li>
                            {% endfor %}



                            <li class="menu-item"><a href="{% url 'logout' %}">Выход</a></li>
                            <li class="menu-item"><a href="{% url 'task_by_user' user.id %}">Мои задачи</a></li>
                            <li class="menu-item"><a href="{% url 'completed_tasks'  %}">Завершенные задачи</a></li>
                            {% if user.is_staff %}
                            <li class="menu-item"><a href="{% url 'users' %}">Сотрудники</a></li>
                            {% endif %}
                            {% else %}
                            <li class="menu-item"><a href="{% url 'login' %}">Вход</a></li>
                            <li class="menu-item"><a href="{% url 'signup' %}">Регистрация</a></li>
                            {% endif %}
                </ul>
            </div>
        </div>


        <!-- end container-wrapper -->
        <div class="footer2">

            <div class="footer-content">
                    @ 2021  <a title="Pego HTML Themes">Дипломная работа Голикова Николая ИУ6-81Б</a>.</div>
            </div>

    </div>


    <script type='text/javascript' src='{% static "js/jquery/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.animsition.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/superfish.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.mobilemenu.js" %}'></script>
    <script type='text/javascript' src='{% static "js/custom.js" %}'></script>

</body>
</html>