{% extends "base_generic.html" %}
{% load static %}
{% block content %}



<div class="container-wrapper">
            <div class="page-bg" style="background-image: url({% static 'images/frame.png' %});"></div>

            <div id="container">
                <!-- start container -->
                <div class="page-title-wrapper">
                    <div class="page-title-outher">
                        <div class="page-title-inner">

                            <h1 class="page-title">Добро пожаловать на доску задач</h1>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="page-wrapper">
                    <ul>
    <li><strong>Всего задач:</strong> {{ num_tasks }}</li>
    <li><strong>В процессе выполнения:</strong> {{ num_process }}</li>
    <li><strong>Завершенных:</strong> {{ num_completed }}</li>
                       <p>Наша жизнь подвластна времени. Давно изучены всевозможные временные составляющие жизни человека, понятия сна и отдыха, активности и пассивного наблюдения, многие другие категории. Важнейшее место в человеческой жизни занимает труд.
                           <br>Труд – не самоцель жизни, но без него она невозможна.
Труд – первостепенное условие существования человека. Основным «измерителем» труда служит затраченное на него время.
                           <br>Самым приемлемым параметром для такого измерения труда принято считать рабочее время.
Рабочее время, его величина, норма – главные категории учетного времени.
Рабочее время – время, когда работник выполняет свои обязанности на определенном месте работы. Оно не всегда идентично фактически отработанному, реально затраченному на работу времени. За это время работник получает зарплату и «зарабатывает отдых». Измеряется оно так же, как и время вообще – в днях, часах.</p>
  </ul>
                    <div class="clear"></div>

                </div>
                <!-- end page wrapper -->
            </div>
            <!-- end container -->
            <div class="clear"></div>
        </div>
        <!-- end container-wrapper -->














<h1>Local Library Home</h1>

  <p>Welcome to <em>Tasks List</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The the following record counts:</p>
  <ul>
    <li><strong>Всего задач:</strong> {{ num_tasks }}</li>
    <li><strong>В процессе выполнения:</strong> {{ num_process }}</li>
    <li><strong>Завершенных:</strong> {{ num_completed }}</li>
  </ul>



{% endblock %}